@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

body {
  background: white;
  font-family: 'Open Sans', sans-serif;
}

.container {
  float: left;
}

.info{
  padding-top: 20vh;
  padding-left: 100px;
  padding-right: 100px;
  color: #131416;
  font-size: 30pt;
  letter-spacing: 3px;
  font-weight: bold;
  width: 35%;
}

.description {
  padding-top: 1vh;
  padding-left: 100px;
  padding-right: 100px;
  color: #6f7480;
  font-size: 20pt;
  letter-spacing: 3px;
  font-weight: lighter;
  width: 35%;
}

.updates {
  padding-top: 2vh;
  padding-left: 100px;
  padding-right: 100px;
  color: #131416;
  font-size: 8pt;
  letter-spacing: 3px;
  font-weight: lighter;
  width: 35%;
}

.updates a {
  color: red;
  position: relative;
  text-decoration: none;
}

.updates a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.updates a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#borderdesc {
  border: #000 solid;
  background-color: black;
  width: 35%;
  margin-left: 102px;
  padding-top: 2vh;
  margin-top: 10px;
}

.transition a {
  padding-top: 1vh;
  color: #131416;
  font-size: 30pt;
  letter-spacing: 3px;
  font-weight: bold;
  margin-left: 522px;
}
