@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

body {
  background: white;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: black;
}

a:visited {
  color: black;
}

ul {
  list-style-type: none;
}

.container {
  float: left;
}

.info{
  padding-top: 20vh;
  padding-left: 100px;
  padding-right: 100px;
  color: #131416;
  font-size: 30pt;
  letter-spacing: 3px;
  font-weight: bold;
  width: 35%;
}

.description {
  padding-top: 1vh;
  padding-left: 100px;
  padding-right: 100px;
  color: #6f7480;
  font-size: 20pt;
  letter-spacing: 3px;
  font-weight: lighter;
  width: 35%;
}

.updates {
  padding-top: 12px;
  padding-left: 100px;
  padding-right: 100px;
  color: #131416;
  font-size: 12px;
  letter-spacing: 3px;
  font-weight: lighter;
  width: 35%;
}

#borderdesc {
  border: #000 solid;
  background-color: black;
  width: 35%;
  margin-left: 102px;
  padding-top: 2vh;
  margin-top: 10px;
}

.links {
  width: 35%;
  margin-left: 60px;
  font-size: 20px;
}
