.page1 {
  left: 18%;
  text-align: left;
}

.head {
  margin-top: 105px;
}

#info {
  margin: 0;
}

.projtitle {
  margin-top: 2%;
  font-weight: bold;
  font-size: 20pt;
}

.projdesc {
  font-size: 18pt;
  font-weight: lighter;
  margin-top: 25px;
  width: 65%;
  text-align: justify;
}

.links {
  margin-right: 34%;
  text-align: right;
  font-size: 18pt;
}

.links a {
  text-decoration: underline;
  margin-right: 7px;
}

.tablink {
  background-color: #232e5b;
  color: white;
  border: 2px solid #232e5b;
  float: left;
  padding: 14px 16px;
  font-size: 17px;
  width: 22%;
  margin-top: 20px;
}
